In [2]:
import pandas as pd

# Load the CSV files
file1_path = '/Data/지역화폐발행및이용현황_2019~2022csv'  

file2_path = '/Data/지역화폐발행및이용현황_2023.csv'

df1 = pd.read_csv(file1_path, encoding='euc-kr')
df2 = pd.read_csv(file2_path, encoding='euc-kr')

FileNotFoundError: [Errno 2] No such file or directory: '/Data/지역화폐발행및이용현황_2019~2022csv'

In [21]:
file2_path = '지역화폐발행및이용현황.csv'
df2 = pd.read_csv(file2_path, encoding='euc-kr')

In [13]:
df1.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(천원)  월별사용액(천원)
0  가평군  2022-12        814.0  3600881.0  3996840.0
1  가평군  2022-11        701.0  4356413.0  3673972.0
2  가평군  2022-10        657.0  3205893.0  3586395.0
3  가평군  2022-09        832.0  4334836.0  3773560.0
4  가평군  2022-08        858.0  3091351.0  3600543.0

신규가입자수 비교 월별로

In [15]:
df1.shape

(1488, 5)

In [22]:
df2.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0  가평군  2023-12        484.0        4051        2140
1  가평군  2023-11        458.0        2368        2187
2  가평군  2023-10        555.0        2596        2335
3  가평군  2023-09        782.0        3113        2376
4  가평군  2023-08        473.0        3631        2392

In [16]:
df2.shape

(1537, 9)

In [17]:
# Filter the data for the years 2021 to 2023
df1_filtered = df1[df1['기준년월'].str[:4].astype(int).between(2021, 2023)]

df1_filtered.tail()

      시군명     기준년월  월별신규가입자수(명)   월별충전액(천원)   월별사용액(천원)
1459  화성시  2021-05       7615.0  26955815.0  27578227.0
1460  화성시  2021-04      23662.0  27897920.0  27898856.0
1461  화성시  2021-03      13378.0  18016255.0  20192514.0
1462  화성시  2021-02      23305.0  18016255.0  20192514.0
1463  화성시  2021-01      12936.0  32845088.0  31312763.0

In [18]:
df1_filtered.shape

(744, 5)

In [19]:
df1_filtered['월별충전액(천원)']=df1_filtered['월별충전액(천원)']/100

C:\Users\home\AppData\Local\Temp\ipykernel_25556\1321130470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_filtered['월별충전액(천원)']=df1_filtered['월별충전액(천원)']/100

In [20]:
df1_filtered.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(천원)  월별사용액(천원)
0  가평군  2022-12        814.0   36008.81  3996840.0
1  가평군  2022-11        701.0   43564.13  3673972.0
2  가평군  2022-10        657.0   32058.93  3586395.0
3  가평군  2022-09        832.0   43348.36  3773560.0
4  가평군  2022-08        858.0   30913.51  3600543.0

In [23]:
df1_filtered['월별사용액(천원)']=df1_filtered['월별사용액(천원)']/100

C:\Users\home\AppData\Local\Temp\ipykernel_25556\2152091639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_filtered['월별사용액(천원)']=df1_filtered['월별사용액(천원)']/100

In [24]:
df1_filtered.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(천원)  월별사용액(천원)
0  가평군  2022-12        814.0   36008.81   39968.40
1  가평군  2022-11        701.0   43564.13   36739.72
2  가평군  2022-10        657.0   32058.93   35863.95
3  가평군  2022-09        832.0   43348.36   37735.60
4  가평군  2022-08        858.0   30913.51   36005.43

In [ ]:
df2['월별']

In [ ]:
df2_filtered = df2[df2['기준연도']==2023]

# Merge the dataframes
merged_df = pd.merge(df1_filtered, df2_filtered, how='outer', left_on=['시군명'], right_on=['시군명'])

# Display the merged dataframe
merged_df.tail()
# 근데 2023데이터 밖에 없는데? 일단데이터짤라서 컷캣함

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시군명          372 non-null    object
 1   기준년월         372 non-null    object
 2   월별신규가입자수(명)  370 non-null    float64
 3   월별충전액(백만원)   372 non-null    int64
 4   월별사용액(백만원)   372 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 14.7+ KB

In [8]:
df1.head(20)

    시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0   가평군  2023-12        484.0        4051        2140
1   가평군  2023-11        458.0        2368        2187
2   가평군  2023-10        555.0        2596        2335
3   가평군  2023-09        782.0        3113        2376
4   가평군  2023-08        473.0        3631        2392
5   가평군  2023-07        580.0        2682        2536
6   가평군  2023-06        883.0        4197        4043
7   가평군  2023-05        871.0        5064        3785
8   가평군  2023-04        855.0        3668        4057
9   가평군  2023-03       3130.0        4284        3609
10  가평군  2023-02        769.0        3032        3092
11  가평군  2023-01        717.0        3140        3540
12  고양시  2023-12       3103.0       15768       12994
13  고양시  2023-11       3247.0       14389       12450
14  고양시  2023-10       4554.0       13499       11696
15  고양시  2023-09       4207.0       10500       11022
16  고양시  2023-08       3527.0       11057       11989
17  고양시  2023-07       3811.0       14686       11992
18  고양시  2023-06       2809.0       10175       11714
19  고양시  2023-05       3722.0       11006       12514

In [7]:
df1['기준년월'].sort_values(ascending=True,inplace=True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy