## 데이터불러오기

In [43]:
import pandas as pd

# Load the CSV files
file1_path = 'Data/지역화폐발행및이용현황_2019~2022.csv'  

file2_path = 'Data/지역화폐발행및이용현황_2023.csv'

df_2022d = pd.read_csv(file1_path, encoding='euc-kr')
df_2023 = pd.read_csv(file2_path, encoding='euc-kr')

-----

## 전처리

### 1.데이터 확인

In [44]:
df_2022d.shape

(1488, 5)

In [45]:
df_2023.shape

(372, 5)

In [46]:
df_2022d.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(천원)  월별사용액(천원)
0  가평군  2022-12        814.0  3600881.0  3996840.0
1  가평군  2022-11        701.0  4356413.0  3673972.0
2  가평군  2022-10        657.0  3205893.0  3586395.0
3  가평군  2022-09        832.0  4334836.0  3773560.0
4  가평군  2022-08        858.0  3091351.0  3600543.0

In [47]:
df_2023.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0  가평군  2023-12        484.0        4051        2140
1  가평군  2023-11        458.0        2368        2187
2  가평군  2023-10        555.0        2596        2335
3  가평군  2023-09        782.0        3113        2376
4  가평군  2023-08        473.0        3631        2392

In [48]:
len(df_2023['시군명'].unique())

31

In [49]:
df_2023.isnull().sum()

시군명            0
기준년월           0
월별신규가입자수(명)    2
월별충전액(백만원)     0
월별사용액(백만원)     0
dtype: int64

In [50]:
df_2022d.isnull().sum()

시군명              0
기준년월             0
월별신규가입자수(명)    222
월별충전액(천원)      181
월별사용액(천원)      181
dtype: int64

- 결측지가 존재하지만 월별 충전금액을 비교분석해서 지표로 활용해야할수있기떄문에 제거는 하지않고, 최빈값이나 중앙값 평균값등으로 교체해야할것같다 **논의필용**

### 2.2019년까지 있는 데이터를 2021년부터 2023년까지만 다루기위해 데이터 슬라이싱

In [51]:
df_2022d = df_2022d[df_2022d['기준년월'].str[:4].astype(int).between(2021, 2023)]

df_2022d.tail()

      시군명     기준년월  월별신규가입자수(명)   월별충전액(천원)   월별사용액(천원)
1459  화성시  2021-05       7615.0  26955815.0  27578227.0
1460  화성시  2021-04      23662.0  27897920.0  27898856.0
1461  화성시  2021-03      13378.0  18016255.0  20192514.0
1462  화성시  2021-02      23305.0  18016255.0  20192514.0
1463  화성시  2021-01      12936.0  32845088.0  31312763.0

In [52]:
df_2022d.shape

(744, 5)

### 3.금액단위를 만원단위로 맞추기 => Data1,2에대한 통일성부여

In [53]:
df_2022d['월별충전액(천원)']=round(df_2022d['월별충전액(천원)']/10) #반올림해서 소수점 제거

In [54]:
df_2022d['월별사용액(천원)']=round(df_2022d['월별사용액(천원)']/10)

In [62]:
df_2022d.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(만원)  월별사용액(만원)
0  가평군  2022-12        814.0   360088.0   399684.0
1  가평군  2022-11        701.0   435641.0   367397.0
2  가평군  2022-10        657.0   320589.0   358640.0
3  가평군  2022-09        832.0   433484.0   377356.0
4  가평군  2022-08        858.0   309135.0   360054.0

In [56]:
df_2023['월별충전액(백만원)']=df_2023['월별충전액(백만원)']*100

In [57]:
df_2023['월별사용액(백만원)']=df_2023['월별사용액(백만원)']*100

In [58]:
df_2023.head()

   시군명     기준년월  월별신규가입자수(명)  월별충전액(백만원)  월별사용액(백만원)
0  가평군  2023-12        484.0      405100      214000
1  가평군  2023-11        458.0      236800      218700
2  가평군  2023-10        555.0      259600      233500
3  가평군  2023-09        782.0      311300      237600
4  가평군  2023-08        473.0      363100      239200

### 4.데이터 concat

- 데이터 컬럼이름 맞춰주기()

In [63]:
df_2022d.columns=['시군명','기준년월','월별신규가입자수(명)','월별충전액(만원)','월별사용액(만원)']

In [64]:
df_2023.columns=['시군명','기준년월','월별신규가입자수(명)','월별충전액(만원)','월별사용액(만원)']

In [66]:
print(df_2023.shape)
print(df_2022d.shape)

(372, 5)
(744, 5)

In [70]:
Data2=pd.concat([df_2023,df_2022d],ignore_index=True)
Data2.to_csv('Data2.csv',index=False)
Data2.tail()

      시군명     기준년월  월별신규가입자수(명)  월별충전액(만원)  월별사용액(만원)
1111  화성시  2021-05       7615.0  2695582.0  2757823.0
1112  화성시  2021-04      23662.0  2789792.0  2789886.0
1113  화성시  2021-03      13378.0  1801626.0  2019251.0
1114  화성시  2021-02      23305.0  1801626.0  2019251.0
1115  화성시  2021-01      12936.0  3284509.0  3131276.0

In [71]:
Data2['기준년월'] = pd.to_datetime(Data2['기준년월'])

In [72]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   시군명          1116 non-null   object
 1   기준년월         1116 non-null   datetime64[ns]
 2   월별신규가입자수(명)  1042 non-null   float64
 3   월별충전액(만원)    1070 non-null   float64
 4   월별사용액(만원)    1070 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 43.7+ KB

------
## 시각화=>Tableau 대시보드 사용

-------

## 지표설정

### Data 1,3과 달리 Data2는 각 시군별 각 월별 총결제금액과 사용금액이 나와있으므로 각 시군별 을 월별로 점진적으로 , 수치적으로 비교할수있는 지표로 활용하는게 좋을것같다.

- 전년도 대비 결제금액으로 지표를 설정해보자

- Data2 보다는 Data1이 년도 대비 비교가 편리할거같다

In [77]:
df=pd.read_csv('Data/Data1_전쳐리.csv')
df.head()

   기준연도  시군명  연령대 성별    결제건수          결제금액  결제취소건수      결제취소금액  1회평균결제금액
0  2023  가평군  10대  남    8409  1.888451e+08    46.0   4871840.0   22457.0
1  2023  가평군  10대  여    6584  1.766054e+08    68.0   1841390.0   26823.0
2  2023  가평군  20대  남   70363  1.545018e+09   728.0  37559999.0   21958.0
3  2023  가평군  20대  여   55118  1.332507e+09   681.0  27996349.0   24176.0
4  2023  가평군  30대  남  110968  2.682235e+09  1382.0  84476317.0   24171.0

In [ ]:
df_group1=df.groupby('시군명','기준연도') \
            .agg()