# 사용하지 않는 이유와 사용하는 이유를 시각화 하여 개선안 도출을 좀 더 효율적으로 하고자 함.

## 사용하지 않는 이유부터 뜯어보자.

In [1]:
import pandas as pd

why_use = pd.read_csv("사용하는이유.csv", encoding="cp949")
why_use1 = why_use.copy()

In [2]:
why_use1.head()

,특성별(1),특성별(2),2023,2023.1,2023.2,2023.3,2023.4
0,특성별(1),특성별(2),지역경제 활성화를 위해서,수당 및 지원금 등 지급받는 것이 많아서 (농민수당 전입지원금 등),활인 등 혜택이 만족스러워서,사용이 편리해서,기타
1,전체,소계,36.0,31.0,28.6,3.6,0.8
2,지역별,읍부,39.3,16.6,37.6,5.2,1.2
3,지역별,면부,33.8,40.8,22.5,2.5,0.5
4,성별,남자,39.0,29.3,27.0,3.3,1.4

In [3]:
print(why_use1.index)

RangeIndex(start=0, stop=47, step=1)

In [4]:
for index, row in why_use1.iterrows():
    if '직업별' in row[0]:
        print(f"연령별 데이터 시작 행: {index}")
        # 추가적인 조건을 통해 끝나는 행을 찾을 수 있음

연령별 데이터 시작 행: 28
연령별 데이터 시작 행: 29
연령별 데이터 시작 행: 30
연령별 데이터 시작 행: 31
연령별 데이터 시작 행: 32
연령별 데이터 시작 행: 33
연령별 데이터 시작 행: 34
연령별 데이터 시작 행: 35
연령별 데이터 시작 행: 36
연령별 데이터 시작 행: 37
연령별 데이터 시작 행: 38
연령별 데이터 시작 행: 39
연령별 데이터 시작 행: 40

In [5]:
# 연령별 데이터가 위치한 행 번호
start_row = 6
end_row = 12

# 연령별 데이터 추출
age_data = why_use1.iloc[start_row:end_row + 1]  # end_row + 1을 사용하여 마지막 행 포함

# 새 데이터프레임 확인
age_data.head()

   특성별(1)  특성별(2)  2023 2023.1 2023.2 2023.3 2023.4
6     연령별  15~19세  66.7   33.3    0.0    0.0    0.0
7     연령별  20~29세  27.9   28.9   31.5    4.5    7.1
8     연령별  30~39세  31.3   11.6   52.4    2.1    2.6
9     연령별  40~49세  43.1   20.3   33.4    2.2    1.0
10    연령별  50~59세  45.5   19.5   31.6    2.5    0.9

In [6]:
# 성별 데이터가 위치한 행 번호
start_row = 4
end_row = 5

# 성별 데이터 추출
sex_data = why_use1.iloc[start_row:end_row + 1]  # end_row + 1을 사용하여 마지막 행 포함

# 새 데이터프레임 확인
sex_data.head()

  특성별(1) 특성별(2)  2023 2023.1 2023.2 2023.3 2023.4
4     성별     남자  39.0   29.3   27.0    3.3    1.4
5     성별     여자  32.8   32.8   30.3    3.9    0.2

In [7]:
# 학력별 데이터가 위치한 행 번호
start_row = 13
end_row = 20

# 학력별 데이터 추출
education_data = why_use1.iloc[start_row:end_row + 1]  # end_row + 1을 사용하여 마지막 행 포함

# 새 데이터프레임 확인
education_data.head()

   특성별(1)     특성별(2)  2023 2023.1 2023.2 2023.3 2023.4
13    학력별       안받았음  22.2   66.7    8.9    2.2    0.0
14    학력별       초등학교  20.9   48.4   26.5    3.6    0.5
15    학력별       중등학교  36.1   35.5   23.9    4.5    0.0
16    학력별       고등학교  42.4   25.7   27.6    3.7    0.6
17    학력별  대학(4년제미만)  41.8   22.9   33.3    2.0    0.0

In [8]:
# 직업별 데이터가 위치한 행 번호
start_row = 28
end_row = 40

# 직엽별 데이터 추출
occupation_data = why_use1.iloc[start_row:end_row + 1]  # end_row + 1을 사용하여 마지막 행 포함

# 새 데이터프레임 확인
occupation_data.head()

   특성별(1)       특성별(2)  2023 2023.1 2023.2 2023.3 2023.4
28    직업별          관리자  42.3    8.0   45.3    4.4    0.0
29    직업별  전문가 및 관련종사자  58.1    9.9   30.6    1.4    0.0
30    직업별          사무직  43.3    7.0   39.3    5.4    4.9
31    직업별         서비스직  44.7   24.7   26.4    4.3    0.0
32    직업별        판매종사자  53.2   17.0   29.8    0.0    0.0

In [9]:
# 열 리스트
columns = {
    "성별": "why_use_sex",
    "연령별": "why_use_age",
    "학력별": "why_use_education",
    "가구주와의 관계별": "why_use_household_relationship",
    "혼인상태별": "why_use_marital_status",
    "직업별": "why_use_occupation",
    "종사상의 지위별": "why_use_employment_status"
}

# 각 열별로 데이터를 나누어 변수로 저장
for col, var_name in columns.items():
    # 해당 열과 관련된 데이터 추출
    vars()[var_name] = why_use1[[col]]
    print(f"{var_name} 변수가 생성되었습니다.")

# 예시: 생성된 변수 중 하나를 출력
# print(why_use_sex.head())

KeyError: "None of [Index(['성별'], dtype='object')] are in the [columns]"